---
import { SEO } from "astro-seo";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <SEO
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      charset="utf-8"
      openGraph={{
        basic: {
          title: SITE_TITLE,
          type: "A type.",
          image:
            "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
        },
      }}
      twitter={{
        creator: "@josecortezz25",
      }}
    />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
